::backdrop{
    background-color: grey;
    opacity: 0.5;
  }
  
  form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 250px;
  }
  
  .input{
    display: flex;
    flex-direction: column;
  }